page-skill {

    .menu{
        left: 0;
    }

    .shadow{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .footer{
        position: fixed;
        height: 30px;
        background-color: #0066ff;
        bottom: 0px;
        left: 0px;
        right: 0px;
        margin-bottom: 0px;
    }
    

    @media screen and (min-width: 768px) {

        canvas{
            width:750px !important;
            height:350px !important;
        }
    }
}
