page-work-detail {


    .footer{
        position: fixed;
        height: 30px;
        background-color: #0066ff;
        bottom: 0px;
        left: 0px;
        right: 0px;
        margin-bottom: 0px;
    }
}
